Requires Unity 5.5
Requires Unity's Post Processing Stack asset (found on the Asset Store: https://assetstore.unity.com/packages/essentials/post-processing-stack-83912)

Align the start of the Crossfade event with the boundary between two shot items. Extend the length of the item to change the duration. The end of the Crossfade should end before the end of of the second shot item.


Submitted By: Penny